<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Gabriel_RWX</title>
{# SEO #}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Gabriel Santos">
    <meta property="og:description" content="Acesse meu website de apresentação profissional">
    <meta property="og:url" content="https://www.gabrielrwx.com.br/">
    
    <link rel="shortcut icon" href="/images/grwx.ico"/>                         <!--Ícone de compartilhamento-->
    <link rel="shortcut icon" href="/images/grwx.ico" type="image/x-icon" />    <!--Ícone da barra de título-->

</head>
<body>
    <header>
        <h1>gabriel f. santos</h1>
    </header>
    <div class="content">

        <div class='subtitulo'>
            <h2>Em breve, mais completo</h2>
        </div>

        <section>
            <h3>Por enquanto, veja o que já foi desenvolvido</h3>
            <a href=#projects><i class='material-icons scroll'>keyboard_arrow_down</i></a>
        </section>

        <div id='projects' class='projetos'>
            <div class="item">
                <img src="/images/logo.png" alt="Logo_Notificado">
                <a target='_blank' href="https://notificado.herokuapp.com">
                    <h5>notificado</h5>
                </a>
                <p>Uma plataforma que acessa o portal de notícias do IFNMG - Campus Januária a cada 60min das 06h00 às 23h59 e realiza uma raspagem de dados (Web Scraping) coletando o básico das notícias {title, url, image_url, description, date, hour}, com a intenção de notificar ao usuário final a cada notícia nova postada por servidores da instituição.</p>
            </div>
        </div>

        <section>
            <h3>E aproveite para dar uma stalkeada</h3>
            <a href=#stalk><i class='material-icons scroll'>keyboard_arrow_down</i></a>
        </section>

            <div class="box" id="box-sobre">
                <div class="corpo" id='stalk'>
                    <div class="followme" id="links-footer">
                        <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="pt_BR" data-type="vertical" data-theme="dark" data-vanity="gabriel-rwx"><a class="LI-simple-link" target="_blank" href='https://br.linkedin.com/in/gabriel-rwx?trk=profile-badge'>Gabriel Santos</a></div>
                        <iframe id="frame"  width="300" height="400"  src="https://www.instagram.com/p/BukoXNxHEuP/embed" frameborder="0"></iframe>
                    </div>
                        <p class='p-git'><b>Veja meu perfil no </b><a target="_blank" href="https://github.com/gabrielroot">Github</a></p>
                </div>
            </div>
    </div>
    

    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</body>
</html>